# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Handy.io.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Repozytoria\Handy.io\api\Handy.io\.idea\.idea.Handy.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
